/* Styles basiques pour le corps */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

/* Style du header */
header {
    background-color: #333333; /* Gris anthracite */
    padding: 20px;
    text-align: center;
    color: white;
}

h1 {
    margin: 0;
}

/* Style pour le contenu principal */
main {
    padding: 20px;
}

h2 {
    color: #333333;
}

/* Style du footer */
footer {
    background-color: #333333; /* Gris anthracite */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Style du gros bouton */
.gros-bouton {
    background-color: #007BFF; /* Couleur du bouton */
    color: white; /* Couleur du texte */
    border: none; /* Pas de bordure */
    padding: 15px 30px; /* Espacement interne */
    font-size: 18px; /* Taille du texte */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur pointeur au survol */
    transition: background-color 0.3s; /* Transition pour l'effet de survol */
    margin-bottom: 20px; /* Ajoute un espace entre les boutons */
}

/* Effet de survol */
.gros-bouton:hover {
    background-color: #0056b3; /* Couleur au survol */
}

/* Style pour le message */
#message, #message2 {
    font-size: 24px; /* Augmente la taille du texte */
    color: #f57f20; /* Orange pour le message */
    margin-top: 10px; /* Ajoute un espace au-dessus */
}

/* Style pour l'image */
#image, #image2 {
    margin-top: 10px; /* Ajoute un espace au-dessus de l'image */
    border: 2px solid #2e7d32; /* Bordure verte autour de l'image */
    border-radius: 5px; /* Coins arrondis */
}
